body{
    font-family: Script MT;
    text-align: center;
    font-size: 1em;
    background-color: blanchedalmond;
}

h1 {
    margin-bottom: 20px;
}

.button1 {
    font-family: Script MT;
    font-size: 1.5em;
    min-width: 200px;
    margin-top: 20px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

.HighScore {
    font-family: Script MT;
    font-size: 1.2em;
    margin-right: 125px;
    margin-bottom: 20px;
    background-color: #008CBA; 
    color: white; 
    border: 2px solid white;
    padding: 5px;
    min-width: 100px;
    display: inline-block;
}

.Score {
    font-family: Script MT;
    font-size: 1.2em;
    margin-left: 125px;
    margin-bottom: 20px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 5px;
    min-width: 100px;
    display: inline-block;
}